/.metadata/
# Eclipse / workspace
.metadata/
**/.metadata/
*.log
*.lock
.location

# Archivos compilados Java
bin/
*.class

# Archivos temporales
*.tmp
*.bak

# Archivos de entorno con secretos
.env

# Sistema operativo
.DS_Store
Thumbs.db